@charset "UTF-8";

#intro {
  background-image: url(../assets/images/Background_Intro.png);
}

.info {
  max-width: 1040px;
  margin: auto;
  padding-block: 120px;
}

.info header {
  display: block;
  max-width: 680px;
  margin: auto;
  padding-bottom: 120px;
}

.info .avatar {
  height: 96px;
  width: 96px;
  align-items: center;
  position: relative;
  margin-bottom: 64px;
  margin-inline: 284px;
  border: 2px solid var(--red);
  border-radius: 50%;
}
    
.avatar img:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 4px;
  z-index: 100;
}
  
.top-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.top-text h2{
  gap: 20px;
  padding-bottom: 8px;
  font: var(--subtitle);
  color: var(--gray-500);
}

.top-text h1 {
  font: var(--title-lg);
  color: var(--gray-600);
}

.top-text p {
  padding-top: 20px;
  font: var(--text-sm);
  color: var(--gray-500);
}

.top-text span {
  color: var(--red);
}

/* .tags {
  margin: auto;
}

.tags ul {
  display: flex;
  gap: 16px;
  align-items: center;
  font: var(--text-md);
  color: var(--gray-500);
}

.tags ul li span {
  vertical-align: top;
}

.tags img {
  width: 24px;
  height: 24px;
} */