@charset "UTF-8";

#projects {  
  background-color: var(--gray-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 163px 144px;
  gap: 56px;

  .top-text {
    text-align: center;
    gap: 8px;
    
    h2 {
      font: var(--subtitle);
      color: #E3646E;
    }

    span {
      font: var(--title-md);
      color: var(--gray-600);
    }
  }

  .container {
    margin: auto;

    .grid {
      width: 1040px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;

      .card {
        width: 330px;
        height: 280px;
        padding: 12px;
        background-color: var(--gray-300);
        border-radius: 12px;

        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          border: 1px solid var(--gray-200);
        }

        .content {
          padding-block: 20px 5px;

          span {
            font: var(--title-sm);
            color: var(--gray-600);
            padding: 4px;
          }

          p {
            font: var(-text-sm);
            color: var(--gray-500);
            padding: 4px;
          }
        }
      }

      .card:hover {
        border: 1.5px solid var(--gray-400);
      }
    }
  }
}